Project/App_WebReferences/WS_Events/Book247XMLWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="https://www.appointment.com/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="https://www.appointment.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="https://www.appointment.com/">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
      <xsd:complexType name="Customer">
        <xsd:all>
          <xsd:element name="id" type="xsd:integer" />
          <xsd:element name="username" type="xsd:string" />
          <xsd:element name="password" type="xsd:string" />
          <xsd:element name="first_name" type="xsd:string" />
          <xsd:element name="last_name" type="xsd:string" />
          <xsd:element name="address" type="xsd:string" />
          <xsd:element name="city" type="xsd:string" />
          <xsd:element name="province" type="xsd:string" />
          <xsd:element name="postalcode" type="xsd:string" />
          <xsd:element name="country" type="xsd:string" />
          <xsd:element name="email" type="xsd:string" />
          <xsd:element name="phone" type="xsd:string" />
          <xsd:element name="phone2" type="xsd:string" />
          <xsd:element name="mobile" type="xsd:string" />
          <xsd:element name="fax" type="xsd:string" />
          <xsd:element name="birth_date" type="xsd:string" />
          <xsd:element name="start_date" type="xsd:string" />
          <xsd:element name="direct_login_url" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="Customers">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="tns:Customer[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="Service">
        <xsd:all>
          <xsd:element name="id" type="xsd:integer" />
          <xsd:element name="name" type="xsd:string" />
          <xsd:element name="total_duration" type="xsd:integer" />
          <xsd:element name="cost" type="xsd:double" />
          <xsd:element name="description" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="Services">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="tns:Service[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="Schedule">
        <xsd:all>
          <xsd:element name="id" type="xsd:integer" />
          <xsd:element name="location_id" type="xsd:integer" />
          <xsd:element name="group_id" type="xsd:integer" />
          <xsd:element name="name" type="xsd:string" />
          <xsd:element name="description" type="xsd:string" />
          <xsd:element name="services_list" type="xsd:string" />
          <xsd:element name="months_list" type="xsd:string" />
          <xsd:element name="start_date" type="xsd:string" />
          <xsd:element name="end_date" type="xsd:string" />
          <xsd:element name="booking_confirmation_numbers" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="Schedules">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="tns:Schedule[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="Group">
        <xsd:all>
          <xsd:element name="id" type="xsd:integer" />
          <xsd:element name="name" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="Groups">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="tns:Group[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="Location">
        <xsd:all>
          <xsd:element name="id" type="xsd:integer" />
          <xsd:element name="name" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="Locations">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="tns:Location[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="Package">
        <xsd:all>
          <xsd:element name="id" type="xsd:integer" />
          <xsd:element name="name" type="xsd:string" />
          <xsd:element name="description" type="xsd:string" />
          <xsd:element name="cost" type="xsd:double" />
          <xsd:element name="quantity" type="xsd:integer" />
          <xsd:element name="services_list" type="xsd:string" />
          <xsd:element name="days_list" type="xsd:string" />
          <xsd:element name="month_list" type="xsd:string" />
          <xsd:element name="start_date" type="xsd:string" />
          <xsd:element name="finish_date" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="Packages">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="tns:Package[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="Event">
        <xsd:all>
          <xsd:element name="id" type="xsd:integer" />
          <xsd:element name="location_id" type="xsd:integer" />
          <xsd:element name="name" type="xsd:string" />
          <xsd:element name="description" type="xsd:string" />
          <xsd:element name="total_participants" type="xsd:integer" />
          <xsd:element name="days_list" type="xsd:string" />
          <xsd:element name="month_list" type="xsd:string" />
          <xsd:element name="start_date" type="xsd:string" />
          <xsd:element name="finish_date" type="xsd:string" />
          <xsd:element name="cost_types" type="tns:EventCosttypes" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="EventCosttype">
        <xsd:all>
          <xsd:element name="id" type="xsd:integer" />
          <xsd:element name="name" type="xsd:string" />
          <xsd:element name="cost" type="xsd:double" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="Events">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="tns:Event[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="EventCosttypes">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="tns:EventCosttype[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ScheduleBooking">
        <xsd:all>
          <xsd:element name="confirmation_number" type="xsd:string" />
          <xsd:element name="schedule" type="tns:Schedule" />
          <xsd:element name="service" type="tns:Service" />
          <xsd:element name="start_datetime1" type="xsd:string" />
          <xsd:element name="end_datetime1" type="xsd:string" />
          <xsd:element name="start_datetime2" type="xsd:string" />
          <xsd:element name="end_datetime2" type="xsd:string" />
          <xsd:element name="customer" type="tns:Customer" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ScheduleAvailableTimeSlot">
        <xsd:all>
          <xsd:element name="product_id" type="xsd:integer" />
          <xsd:element name="appointment_date" type="xsd:string" />
          <xsd:element name="product_available" type="xsd:boolean" />
          <xsd:element name="product_unavailable_reason" type="xsd:string" />
          <xsd:element name="next_available_date" type="xsd:string" />
          <xsd:element name="prev_available_date" type="xsd:string" />
          <xsd:element name="time_slots" type="tns:TimeSlots" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="BookingDetail">
        <xsd:all>
          <xsd:element name="confirmation_number" type="xsd:string" />
          <xsd:element name="schedule_name" type="xsd:string" />
          <xsd:element name="schedule_description" type="xsd:string" />
          <xsd:element name="service_name" type="xsd:string" />
          <xsd:element name="service_description" type="xsd:string" />
          <xsd:element name="customer_name" type="xsd:string" />
          <xsd:element name="customer_email" type="xsd:string" />
          <xsd:element name="book_start_time" type="xsd:string" />
          <xsd:element name="book_end_time" type="xsd:string" />
          <xsd:element name="book_start_time1" type="xsd:string" />
          <xsd:element name="book_end_time1" type="xsd:string" />
          <xsd:element name="amount" type="xsd:double" />
          <xsd:element name="amount_paid" type="xsd:boolean" />
          <xsd:element name="time_zone" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="BookingSummary">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="tns:BookingDetail[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="TimeSlot">
        <xsd:all>
          <xsd:element name="start_time" type="xsd:string" />
          <xsd:element name="available" type="xsd:boolean" />
          <xsd:element name="end_time" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="TimeSlots">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="tns:TimeSlot[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ServiceDateTime">
        <xsd:all>
          <xsd:element name="service_id" type="xsd:integer" />
          <xsd:element name="start_datetime" type="xsd:string" />
          <xsd:element name="end_datetime" type="xsd:string" />
          <xsd:element name="start_datetime1" type="xsd:string" />
          <xsd:element name="end_datetime1" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ServiceDateTimes">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="tns:ServiceDateTime[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ConfirmationNumber">
        <xsd:all>
          <xsd:element name="confirmation_number" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ConfirmationNumbers">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="tns:ConfirmationNumber[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="nCreateCustomerRequest">
    <wsdl:part name="user_name" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
    <wsdl:part name="customer_info" type="tns:Customer" />
    <wsdl:part name="send_welcome_email" type="xsd:boolean" />
  </wsdl:message>
  <wsdl:message name="nCreateCustomerResponse">
    <wsdl:part name="return" type="xsd:integer" />
  </wsdl:message>
  <wsdl:message name="bModifyCustomerRequest">
    <wsdl:part name="user_name" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
    <wsdl:part name="customer_info" type="tns:Customer" />
  </wsdl:message>
  <wsdl:message name="bModifyCustomerResponse">
    <wsdl:part name="return" type="xsd:boolean" />
  </wsdl:message>
  <wsdl:message name="bRemoveCustomerRequest">
    <wsdl:part name="user_name" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
    <wsdl:part name="id" type="xsd:integer" />
  </wsdl:message>
  <wsdl:message name="bRemoveCustomerResponse">
    <wsdl:part name="return" type="xsd:boolean" />
  </wsdl:message>
  <wsdl:message name="tGetCustomerRequest">
    <wsdl:part name="user_name" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
    <wsdl:part name="id" type="xsd:integer" />
    <wsdl:part name="start_date" type="xsd:string" />
    <wsdl:part name="end_date" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="tGetCustomerResponse">
    <wsdl:part name="return" type="tns:Customers" />
  </wsdl:message>
  <wsdl:message name="tGetServicesRequest">
    <wsdl:part name="user_name" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="tGetServicesResponse">
    <wsdl:part name="return" type="tns:Services" />
  </wsdl:message>
  <wsdl:message name="tGetSchedulesRequest">
    <wsdl:part name="name" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="tGetSchedulesResponse">
    <wsdl:part name="return" type="tns:Schedules" />
  </wsdl:message>
  <wsdl:message name="tGetGroupsRequest">
    <wsdl:part name="user_name" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="tGetGroupsResponse">
    <wsdl:part name="return" type="tns:Groups" />
  </wsdl:message>
  <wsdl:message name="tGetLocationsRequest">
    <wsdl:part name="user_name" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="tGetLocationsResponse">
    <wsdl:part name="return" type="tns:Locations" />
  </wsdl:message>
  <wsdl:message name="tGetPackagesRequest">
    <wsdl:part name="user_name" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="tGetPackagesResponse">
    <wsdl:part name="return" type="tns:Packages" />
  </wsdl:message>
  <wsdl:message name="tGetEventsRequest">
    <wsdl:part name="user_name" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="tGetEventsResponse">
    <wsdl:part name="return" type="tns:Events" />
  </wsdl:message>
  <wsdl:message name="tGetScheduleBookingsRequest">
    <wsdl:part name="user_name" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
    <wsdl:part name="booking_confirmation_number" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="tGetScheduleBookingsResponse">
    <wsdl:part name="return" type="tns:ScheduleBooking" />
  </wsdl:message>
  <wsdl:message name="tGetBookingsRequest">
    <wsdl:part name="user_name" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
    <wsdl:part name="schedule_name" type="xsd:string" />
    <wsdl:part name="start_date" type="xsd:string" />
    <wsdl:part name="end_date" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="tGetBookingsResponse">
    <wsdl:part name="return" type="tns:BookingSummary" />
  </wsdl:message>
  <wsdl:message name="tGetAvailableTimeSlotsRequest">
    <wsdl:part name="user_name" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
    <wsdl:part name="product_id" type="xsd:integer" />
    <wsdl:part name="appointment_date" type="xsd:date" />
  </wsdl:message>
  <wsdl:message name="tGetAvailableTimeSlotsResponse">
    <wsdl:part name="return" type="tns:ScheduleAvailableTimeSlot" />
  </wsdl:message>
  <wsdl:message name="tCreateScheduleBookingsRequest">
    <wsdl:part name="user_name" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
    <wsdl:part name="customer_id" type="xsd:integer" />
    <wsdl:part name="product_id" type="xsd:integer" />
    <wsdl:part name="service_datetime" type="tns:ServiceDateTime" />
    <wsdl:part name="paid" type="xsd:boolean" />
    <wsdl:part name="payment_type" type="xsd:string" />
    <wsdl:part name="send_confirmation_email" type="xsd:boolean" />
  </wsdl:message>
  <wsdl:message name="tCreateScheduleBookingsResponse">
    <wsdl:part name="return" type="tns:ConfirmationNumbers" />
  </wsdl:message>
  <wsdl:message name="bCancelScheduleBookingRequest">
    <wsdl:part name="user_name" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
    <wsdl:part name="confirmation_number" type="xsd:string" />
    <wsdl:part name="send_confirmation_email" type="xsd:boolean" />
  </wsdl:message>
  <wsdl:message name="bCancelScheduleBookingResponse">
    <wsdl:part name="return" type="xsd:boolean" />
  </wsdl:message>
  <wsdl:portType name="Book247XMLWebServicePortType">
    <wsdl:operation name="nCreateCustomer">
      <documentation>Creates Customer record for the given Customer Information and returns newly created Customer ID.</documentation>
      <wsdl:input message="tns:nCreateCustomerRequest" />
      <wsdl:output message="tns:nCreateCustomerResponse" />
    </wsdl:operation>
    <wsdl:operation name="bModifyCustomer">
      <documentation>Updates Customer information for the given Customer ID and returns boolean status.</documentation>
      <wsdl:input message="tns:bModifyCustomerRequest" />
      <wsdl:output message="tns:bModifyCustomerResponse" />
    </wsdl:operation>
    <wsdl:operation name="bRemoveCustomer">
      <documentation>Removed Customer and returns boolean status.</documentation>
      <wsdl:input message="tns:bRemoveCustomerRequest" />
      <wsdl:output message="tns:bRemoveCustomerResponse" />
    </wsdl:operation>
    <wsdl:operation name="tGetCustomer">
      <documentation>Return Customer Details for the Customer ID, Start Date(optional), End Date(optional) parameters passed.</documentation>
      <wsdl:input message="tns:tGetCustomerRequest" />
      <wsdl:output message="tns:tGetCustomerResponse" />
    </wsdl:operation>
    <wsdl:operation name="tGetServices">
      <documentation>Return all Services for the Vendor</documentation>
      <wsdl:input message="tns:tGetServicesRequest" />
      <wsdl:output message="tns:tGetServicesResponse" />
    </wsdl:operation>
    <wsdl:operation name="tGetSchedules">
      <documentation>Return all Schedules for the Vendor</documentation>
      <wsdl:input message="tns:tGetSchedulesRequest" />
      <wsdl:output message="tns:tGetSchedulesResponse" />
    </wsdl:operation>
    <wsdl:operation name="tGetGroups">
      <documentation>Return all Groups for the Vendor</documentation>
      <wsdl:input message="tns:tGetGroupsRequest" />
      <wsdl:output message="tns:tGetGroupsResponse" />
    </wsdl:operation>
    <wsdl:operation name="tGetLocations">
      <documentation>Return all Locations for the Vendor</documentation>
      <wsdl:input message="tns:tGetLocationsRequest" />
      <wsdl:output message="tns:tGetLocationsResponse" />
    </wsdl:operation>
    <wsdl:operation name="tGetPackages">
      <documentation>Return all Special Packages for the Vendor</documentation>
      <wsdl:input message="tns:tGetPackagesRequest" />
      <wsdl:output message="tns:tGetPackagesResponse" />
    </wsdl:operation>
    <wsdl:operation name="tGetEvents">
      <documentation>Return all Events for the Vendor</documentation>
      <wsdl:input message="tns:tGetEventsRequest" />
      <wsdl:output message="tns:tGetEventsResponse" />
    </wsdl:operation>
    <wsdl:operation name="tGetScheduleBookings">
      <documentation>Returns booking information for the matching booking confirmation number</documentation>
      <wsdl:input message="tns:tGetScheduleBookingsRequest" />
      <wsdl:output message="tns:tGetScheduleBookingsResponse" />
    </wsdl:operation>
    <wsdl:operation name="tGetBookings">
      <documentation>Returns booking summary for the matching schedule name, start date and/or end date.</documentation>
      <wsdl:input message="tns:tGetBookingsRequest" />
      <wsdl:output message="tns:tGetBookingsResponse" />
    </wsdl:operation>
    <wsdl:operation name="tGetAvailableTimeSlots">
      <documentation>This method return the timeslots and its availability (start_time, end_time and available) for a given date and schedule ID. Also the other values returned by this function are product_id: Schedule Unique ID, appointment_date: Date Appointment Booked, product_available: Schedule Available/Not Available, product_unavailable_reason: Reason for Schedule Unavailability, next_available_date: Schedule's next avaiable date, prev_available_date: Schedule's previous available date</documentation>
      <wsdl:input message="tns:tGetAvailableTimeSlotsRequest" />
      <wsdl:output message="tns:tGetAvailableTimeSlotsResponse" />
    </wsdl:operation>
    <wsdl:operation name="tCreateScheduleBookings">
      <documentation>Creates Schedule Bookings for the given Customer Unique ID, Schedule Unique ID, Service Unique ID(s), Service Start DateTime(s), Service End DateTime(s), Payment Status(optional), Payment Type(optional). This returns Confirmation Number(s) and sends Confirmation Email(optional). Allowed payment types are Not Paid, Cash, Cheque, Debit Card, Credit Card, Visa, American Express, Mastercard, Discover, Enroute, Diners Club, Paypal, Paid, Gift Certificate, Invoiced, No Charge.</documentation>
      <wsdl:input message="tns:tCreateScheduleBookingsRequest" />
      <wsdl:output message="tns:tCreateScheduleBookingsResponse" />
    </wsdl:operation>
    <wsdl:operation name="bCancelScheduleBooking">
      <documentation>Cancels Schedule Booking for the given Confirmation Number and sends Cancellation Email(optional).</documentation>
      <wsdl:input message="tns:bCancelScheduleBookingRequest" />
      <wsdl:output message="tns:bCancelScheduleBookingResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Book247XMLWebServiceBinding" type="tns:Book247XMLWebServicePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="nCreateCustomer">
      <soap:operation soapAction="https://www.appointment.com/webservice/Book247XMLWebService.wsdl#nCreateCustomer" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://www.appointment.com/webservice/Book247XMLWebService.wsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://www.appointment.com/webservice/Book247XMLWebService.wsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="bModifyCustomer">
      <soap:operation soapAction="https://www.appointment.com/webservice/Book247XMLWebService.wsdl#bModifyCustomer" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://www.appointment.com/webservice/Book247XMLWebService.wsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://www.appointment.com/webservice/Book247XMLWebService.wsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="bRemoveCustomer">
      <soap:operation soapAction="https://www.appointment.com/webservice/Book247XMLWebService.wsdl#bRemoveCustomer" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://www.appointment.com/webservice/Book247XMLWebService.wsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://www.appointment.com/webservice/Book247XMLWebService.wsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="tGetCustomer">
      <soap:operation soapAction="https://www.appointment.com/webservice/Book247XMLWebService.wsdl#tGetCustomer" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://www.appointment.com/webservice/Book247XMLWebService.wsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://www.appointment.com/webservice/Book247XMLWebService.wsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="tGetServices">
      <soap:operation soapAction="https://www.appointment.com/webservice/Book247XMLWebService.wsdl#tGetServices" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://www.appointment.com/webservice/Book247XMLWebService.wsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://www.appointment.com/webservice/Book247XMLWebService.wsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="tGetSchedules">
      <soap:operation soapAction="https://www.appointment.com/webservice/Book247XMLWebService.wsdl#tGetSchedules" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://www.appointment.com/webservice/Book247XMLWebService.wsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://www.appointment.com/webservice/Book247XMLWebService.wsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="tGetGroups">
      <soap:operation soapAction="https://www.appointment.com/webservice/Book247XMLWebService.wsdl#tGetGroups" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://www.appointment.com/webservice/Book247XMLWebService.wsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://www.appointment.com/webservice/Book247XMLWebService.wsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="tGetLocations">
      <soap:operation soapAction="https://www.appointment.com/webservice/Book247XMLWebService.wsdl#tGetLocations" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://www.appointment.com/webservice/Book247XMLWebService.wsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://www.appointment.com/webservice/Book247XMLWebService.wsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="tGetPackages">
      <soap:operation soapAction="https://www.appointment.com/webservice/Book247XMLWebService.wsdl#tGetPackages" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://www.appointment.com/webservice/Book247XMLWebService.wsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://www.appointment.com/webservice/Book247XMLWebService.wsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="tGetEvents">
      <soap:operation soapAction="https://www.appointment.com/webservice/Book247XMLWebService.wsdl#tGetEvents" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://www.appointment.com/webservice/Book247XMLWebService.wsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://www.appointment.com/webservice/Book247XMLWebService.wsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="tGetScheduleBookings">
      <soap:operation soapAction="https://www.appointment.com/webservice/Book247XMLWebService.wsdl#tGetScheduleBookings" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://www.appointment.com/webservice/Book247XMLWebService.wsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://www.appointment.com/webservice/Book247XMLWebService.wsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="tGetBookings">
      <soap:operation soapAction="https://www.appointment.com/webservice/Book247XMLWebService.wsdl#tGetBookings" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://www.appointment.com/webservice/Book247XMLWebService.wsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://www.appointment.com/webservice/Book247XMLWebService.wsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="tGetAvailableTimeSlots">
      <soap:operation soapAction="https://www.appointment.com/webservice/Book247XMLWebService.wsdl#tGetAvailableTimeSlots" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://www.appointment.com/webservice/Book247XMLWebService.wsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://www.appointment.com/webservice/Book247XMLWebService.wsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="tCreateScheduleBookings">
      <soap:operation soapAction="https://www.appointment.com/webservice/Book247XMLWebService.wsdl#tCreateScheduleBookings" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://www.appointment.com/webservice/Book247XMLWebService.wsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://www.appointment.com/webservice/Book247XMLWebService.wsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="bCancelScheduleBooking">
      <soap:operation soapAction="https://www.appointment.com/webservice/Book247XMLWebService.wsdl#bCancelScheduleBooking" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://www.appointment.com/webservice/Book247XMLWebService.wsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://www.appointment.com/webservice/Book247XMLWebService.wsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Book247XMLWebService">
    <wsdl:port name="Book247XMLWebServicePort" binding="tns:Book247XMLWebServiceBinding">
      <soap:address location="https://www.appointment.com:443/webservice/index.php" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>