Project/App_WebReferences/WS_Adds/cmsvc1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.cactusmedia.com/CMWS1/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.cactusmedia.com/CMWS1/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <documentation>
  CactusMedia Service to get Approved Leads
 </documentation>
  <types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://www.cactusmedia.com/CMWS1/">
      <xs:element name="AllLeadsRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="pubID" type="xs:unsignedInt" />
            <xs:element name="startDate" type="xs:dateTime" />
            <xs:element name="endDate" type="xs:dateTime" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ApprovedLeads" type="tns:ApprovedLeadsRpt" />
      <xs:complexType name="ApprovedLeadsRpt">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Offer" type="tns:OfferEntryType" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="OfferEntryType">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="unbounded" name="Lead">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="attachedID" type="tns:attachedIDType" />
                <xs:element name="price" type="tns:ofrprice" />
                <xs:element name="subAcnt" type="xs:unsignedShort" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="offerid" type="xs:unsignedInt" use="required" />
        <xs:attribute name="title" type="xs:string" use="required" />
      </xs:complexType>
      <xs:simpleType name="ofrprice">
        <xs:restriction base="xs:float">
          <xs:minInclusive value="0.01" />
          <xs:maxInclusive value="500.00" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="attachedIDType">
        <xs:restriction base="xs:string">
          <xs:minLength value="1" />
          <xs:maxLength value="64" />
        </xs:restriction>
      </xs:simpleType>
    </xs:schema>
  </types>
  <message name="getAllLeadsRequest">
    <part name="parameters" element="tns:AllLeadsRequest" />
  </message>
  <message name="getAllLeadsResponse">
    <part name="parameters" element="tns:ApprovedLeads" />
  </message>
  <portType name="getLeadsPortType">
    <operation name="getAllLeads">
      <input message="tns:getAllLeadsRequest" />
      <output message="tns:getAllLeadsResponse" />
    </operation>
  </portType>
  <binding name="getLeadsBinding" type="tns:getLeadsPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="getAllLeads">
      <soap:operation soapAction="http://www.cactusmedia.com/wbsvc/WSCM1.asp" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="CactusMediaService">
    <port name="getLeads" binding="tns:getLeadsBinding">
      <soap:address location="http://www.cactusmedia.com/wbsvc/WSCM1.asp" />
    </port>
  </service>
</definitions>